@media (max-width: 1100px) {
  .wrapper {
    /* max-width: 992px; */
  }

  /* begin header */
  .top-bar {
    padding: 0 40px;
  }

  .header-nav {
    min-width: 300px;
  }

  .header-nav ul {
    row-gap: 40px;
  }

  .down-header-block {
    max-width: none;
    background-image: url("../img/header_background_992.png");
  }

  .header-block-content {
    margin-top: 80px;
    margin-left: 41px;
  }

  .service ul h2 {
    font-size: 40px;
  }

  .us-company {
    padding-left: 40px;
  }

  .us-company h2 {
    font-size: 40px;
  }

  .why-we h2 {
    font-size: 40px;
  }
}

@media (max-width: 850px) {
  .wrapper {
  }

  .header-menu {
    display: none;
  }

  body.lock {
    /*Блокировка прокруки контента при открытом бургер меню*/
    overflow: hidden;
  }

  .menu-mobile {
    display: block; /*показываем для мобильного разрешений*/
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }

  /*Отрисовка меню бургер*/

  .menu-mobile span {
    content: "";
    /* Черный */
    background-color: rgb(47, 43, 41);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .menu-mobile::before,
  .menu-mobile::after {
    content: "";
    background-color: rgb(47, 43, 41);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
  }

  .menu-mobile::before {
    top: 0px;
  }

  .menu-mobile::after {
    bottom: 0px;
  }

  .menu-mobile.active {
  }

  .menu-mobile.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu-mobile.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-mobile.active span {
    transform: scale(0);
  }

  /*Роботаем с основным меню*/
  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    column-gap: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75%;
    overflow: auto; /*Подстраивается под положение экрана, дает возможность прокручивать экран*/
    background-color: lightgrey;
    padding: 70px 30px 35% 40px;
    top: -100%;
    transition: all 0.3s ease 0s;
    background-image: url("../img/wave.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .header-menu .header-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(47, 43, 41);
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .header-menu .link-social {
    margin-top: 50px;
  }

  .header-menu.active {
    top: 0;
    z-index: 3;
  }

  .header-nav {
    display: block;
    max-width: 240px;
    min-height: 100px;
  }

  .header-nav li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }

  .down-header-block {
    min-height: 800px;
    max-width: none;
    background-image: url("../img/header_background_850.png");
  }

  .header-block-content {
    margin-top: 100px;
    margin-left: 40px;
    width: 80%;
  }

  .header-offer {
    font-size: 14px;
  }

  .header-offer ul {
    justify-content: start;
    column-gap: 20px;
  }

  .header-offer li {
    width: 270px;
  }

  .header-offer li:last-child {
    width: 270px;
  }

  .header-content-down-block {
    height: 176px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-adders-all h2 {
    font-size: 18px;
  }

  /* MAIN */
  /* Услуги */
  .service {
    margin: 60px 90px 0;
  }

  .service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .service-header {
    grid-column: span 2;
  }

  .us-company {
    padding-left: 40px;
    row-gap: 40px;
    column-gap: 40px;
  }

  .us-company h2 {
    font-size: 30px;
  }

  .us-company {
    padding-left: 40px;
    flex-direction: column;
  }

  .us-company h2 {
    font-size: 40px;
  }

  .text-us-company {
    width: 100%;
  }

  .why-we {
    flex-direction: column;
    gap: 40px;
    padding: 60px 80px 60px 77px;
    margin-top: 20px;
  }

  .why-we-icons-list {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 675px) {
  .header-block-content {
    margin-top: 70px;
    margin-left: 30px;
  }

  .header-block-content-title h1 {
    font-size: 50px;
  }

  .header-offer {
    margin-top: 30px;
    font-size: 18px;
    color: rgb(235, 150, 45);
  }

  .header-offer ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
  }

  .header-offer li {
    text-align: left;
    vertical-align: middle;
    height: 20px;
    padding: 0 24px 25px 35px;
    background-color: transparent;
    width: 80%;
    border-radius: 0;
    background-position: 5px 50%;
    background-image: url("../img/icons_done_orange.svg");
    background-size: 5%;
  }

  .header-offer li:last-child {
    width: 80%;
  }

  .header-advantages {
    margin-top: 30px;
  }

  .why-we ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    font-size: 14px;
  }

  .service {
    margin: 40px 40px 0;
    width: 90%;
  }
}

@media (max-width: 565px) {
  .header-block-content {
    margin-top: 50px;
    margin-left: 20px;
  }

  .header-block-content-title h1 {
    font-size: 40px;
  }

  .header-content-down-block {
    width: 80%;
    display: flex;
  }
}

@media (max-width: 450px) {
  .wrapper {
    margin: 0 auto;
  }

  .top-bar {
    padding: 0 16px;
    max-width: none;
    max-height: 25px;
  }

  .logo {
    min-height: 20px;
  }

  .logo img {
    max-width: 150px;
    max-height: 25px;
  }

  .menu-mobile {
    width: 21px;
    /* height: 16px; */
  }

  .menu-mobile span {
    top: 45%;
  }

  .header-menu .header-nav ul {
    font-size: 30px;
  }

  .header-menu .header-nav {
    max-width: 200px;
  }

  .down-header-block {
    max-width: none;
    background-image: url("../img/header_background_375.png");
  }

  .header-block-content {
    margin-top: 100px;
    margin-left: 16px;
    width: none;
    height: none;
  }

  .header-block-content {
    margin-top: 32px;
    margin-left: 16px;
  }

  .header-block-content-title h1 {
    font-size: 30px;
  }

  .header-offer {
    font-size: 12px;
  }

  .header-advantages {
    margin-top: 16px;
    font-size: 14px;
  }

  .header-advantages ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 5px;
  }

  .header-advantages li span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .header-advantages li img {
    height: 36px;
  }

  .down-header-block {
    z-index: 1;
    position: relative;
    height: 90%;
  }

  .header-adderss-all h2 {
    display: none;
  }

  .header-adderss-all {
    width: 90%;
    position: absolute;
    left: 20px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-adderss-all .adderss-block .address-header {
    color: rgb(150, 25, 33);
  }

  /* MAIN */
  /* Услуги */
  .service {
    margin: 30px 0;
    width: 90%;
  }

  .service-list {
    display: none;
  }

  .service-list-open {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
  }

  .service-header {
    grid-column: span 1;
  }

  .service-spoller {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 95%;
    margin: 0 5px 10px 25px;
  }

  .service-spoller > h2 {
    font-size: 25px;
    font-weight: 500;
  }

  .service-spoller img {
    width: 25px;
    display: block;
  }

  .service .service-header {
    display: none;
  }

  .button-service {
    background-color: white;
  }
  /* Добавить споллер */

  .us-company > h2 {
    display: none;
    padding: 20px 15px;
  }

  .us-company-spoller {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 90%;
    margin: 0px 10px 10px;
  }

  .us-company-spoller h2 {
    font-size: 25px;
  }

  .us-company-spoller img {
    width: 25px;
    display: block;
    background: rgb(246, 246, 248);
  }

  .us-company {
    padding: 30px 15px 20px;
    margin-top: 0px;
  }

  .text-us-company {
    display: none;
    font-size: 14px;
  }

  .text-us-company-open {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .us-company-block1 {
    font-size: 16px;
  }
  .us-company-block1,
  .us-company-block2,
  .us-company-block3 {
    grid-column: auto;
    grid-row: auto;
    font-size: 14px;
  }

  .why-we {
    padding: 30px 25px 30px;
    margin-top: 10px;
    width: 95%;
  }

  .why-we h2 {
    font-size: 25px;
  }
}
