@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Обнуляющие стили */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  color: black;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0px;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

address {
  font-style: unset;
}

/* ---------------------------------------- ---------------------------------------------- */

body {
  font-family: Manrope;
  color: black;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 1400px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  height: 72px;
}

.logo {
  width: 235px;
  height: 36px;
}

.header-nav {
  color: rgb(47, 43, 41);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  width: 392px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  row-gap: 80px;
}

.link-social {
  width: 130px;
  height: 30px;
}

.link-social ul {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
}
